* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Open sans", sans-serif;
}

body {
   position: relative;
   display: flex;
   background-color: #0984e3;
   transition: background .5s ease;
   height: 100vh;
}

.field-name,
.field-email,
.field-password,
.field-submit,
.field-finish {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   border-radius: 6px;
   height: 50px;
   width: 400px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: all 0.5s ease;
}

.field-name i,
.field-email i,
.field-password i,
.field-submit i,
.field-finish i {
   cursor: pointer;
   padding: 10px;
}

.field-name input,
.field-email input,
.field-password input {
   flex: 1;
   background: none;
   border: none;
   outline: none;
   width: 300px;
   height: 100vh;
}

div.innactive {
   opacity: 0;
   pointer-events: none;
   transform: translate(-50%, -50%);
}

div.active {
   opacity: 1;
   pointer-events: all;
   transform: translate(-50%, -50%);
}

@keyframes shake {
   0% {
      transform: translate(-50%, -50%) rotate(0deg);
   }

   50% {
      transform: translate(-50%, -50%) rotate(10deg);
   }

   100% {
      transform: translate(-50%, -50%) rotate(0deg);
   }
}